body {
	background-color: #ecf0f1;
}
#redBox {
	background-color: #e74c3c;
	width: auto;
	float: left;
    color: white;
    padding: 1%;
}
#blueBox {
	background-color: #3498db;
	width: auto;
	float: left;
    color: white;
    padding: 1%;
}
#vote {
	vertical-align: bottom;
}

#poll {
	width: 18%;
    float: left;
	background-color: white;
    margin: 40px 1% 1%;
    text-align: center;
    box-shadow: 5px 5px 20px #888888 ;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#newPoll {
    background-color: #2ecc71;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    padding-top: 7px;
    float: right;
    margin-left: 1%;
    margin-top: 0.5%;
}
#ellipses {
    float: right;
    background-color: #f39c12;
    color: white;
    text-align: center;
    width: auto;
    padding: 1%;
}